html {
    background-color: white;
}
img {
    display: block;
    margin: 50px auto;
}
#search {
    display: block;
    margin: 10px auto;
    border-radius: 25px;
    height: 35px;
}
#button1 {
    border-radius: 5px;
}
#button2 {
    border-radius: 5px;
}
#buttons {
    display: block;
    margin: 0 auto;
}
.center {
    margin: 0 auto;
    width: flex

}